<!DOCTYPE HTML>
<html>
	<head>
		<title>About Us - Trends</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% load static %}  
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
		<style>
			.round-image-container {
				width: 200px;
				height: 200px;
				border-radius: 50%;
				overflow: hidden;
				margin: 0 auto 2em auto;
				position: relative;
			}
			.round-image-container img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
			}
			.box {
				text-align: left !important;
			}
			.box h3 {
				text-align: left !important;
			}
			.box p {
				text-align: left !important;
			}
			.major h1 {
				text-align: left !important;
			}
			.post header.major > :last-child {
				text-align: left !important;
			}
			.icons {
				justify-content: flex-start !important;
			}
		</style>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
		<div id="wrapper">
			<!-- Header -->
			<header id="header">
				<a href="/" class="logo">Trends</a>
			</header>

			<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="/">These are Trends</a></li>
					<li><a href="/method/">Methodology and Case Studies</li>
					<li class="active"><a href="/about-us/">About Us</a></li>
				</ul>
				<ul class="icons">
					<li><a href="https://github.com/angadsinghsandhu/trends-demo" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
				</ul>
			</nav>

			<!-- Main -->
			<div id="main">
				<!-- Post -->
				<section class="post">
					<header class="major">
						<h1>Meet Our Team</h1>
					</header>

					<!-- Team Members -->
					<div class="box alt">
						<div class="row gtr-50 gtr-uniform">
							<!-- Team Member 1 -->
							<div class="col-4">
								<div class="round-image-container">
									<img src="https://media.licdn.com/dms/image/v2/D4E03AQFv05YxDh9LDA/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1708885572482?e=1736380800&v=beta&t=ma43nIKZ2suJJUchgz9yXo-IaaJZeIlq9ns-v6nssR0" alt="Angad Sandu" />
								</div>
								<div class="box">
									<h3>Angad Sandu</h3>
									<p><strong>Researcher, Johns Hopkins Medicine</strong><br/>
									Johns Hopkins University<br/>
									M.S.E in CS</p>
									<ul class="icons">
										<li><a href="https://www.linkedin.com/in/angad-sandhu/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span>LinkedIn</a></li>
										<li><a href="https://angadsandhu.medium.com/" class="icon brands fa-medium"><span class="label">LinkedIn</span>Medium</a></li>
										<li><a href="https://github.com/angadsinghsandhu" class="icon brands fa-github"><span class="label">LinkedIn</span>GitHub</a></li>
									</ul>
								</div>
							</div>
							
							<!-- Team Member 2 -->
							<div class="col-4">
								<div class="round-image-container">
									<img src="https://media.licdn.com/dms/image/v2/D4E03AQG-i2rm5VjOZA/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1728014942451?e=1736380800&v=beta&t=dM2FrUEAbCEnZGg3jCqOhiocbLnRVhn6MEo4ZXWAq-A" alt="Vishesh Gupta" />
								</div>
								<div class="box">
									<h3>Vishesh Gupta</h3>
									<p><strong>AI/ML Intern, Explore Digits</strong><br/>
									University of Maryland, College Park<br/>
									B.S. in CS and Mathematics</p>
									<ul class="icons">
										<li><a href="https://www.linkedin.com/in/vishesh-gupta-975550206/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span>LinkedIn</a></li>
										<li><a href="https://github.com/visheshnarayan" class="icon brands fa-github"><span class="label">LinkedIn</span>GitHub</a></li>
									</ul>
								</div>
							</div>
							
							<!-- Team Member 3 -->
							<div class="col-4">
								<div class="round-image-container">
									<img src="https://media.licdn.com/dms/image/v2/D4E03AQEYUDXWb1SpBQ/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1701485607904?e=1736380800&v=beta&t=eC3abN0aV-UeJHW_sD2wF-yRCtweuDDnZZ2ozz44c50" alt="Faizan Wajid" />
								</div>
								<div class="box">
									<h3>Faizan Wajid</h3>
									<p><strong>Senior Data Scientist, Explore Digits</strong><br/>
									University of Maryland, College Park<br/>
									Ph.D. in CS</p>
									<ul class="icons">
										<li><a href="https://www.linkedin.com/in/fwajid/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span>LinkedIn</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

			<!-- Footer -->
			<footer id="footer">
				<section class="split contact">
				</section>
			</footer>
			<div id="copyright">
				<ul><li>&copy; MindLab, University of Maryland College Park</li><li>Project: <a href="https://github.com/angadsinghsandhu/trends-demo">GitHub</a></li></ul>
			</div>
		</div>

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'assets/js/browser.min.js' %}"></script>
		<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<script src="{% static 'assets/js/main.js' %}"></script>
	</body>
</html>